{{ template "layout.tmpl" . }}

{{ define "content" }}
  <section id="contact">
    <h2>Contact Me</h2>
    <ul>
      <li>
        Email: <a href="mailto:{{ .email }}">{{ .email }}</a>
      </li>
      <li>
        GitHub: <a href="https://github.com/{{ .github_user }}">{{ .github_user }}</a>
      </li>
      <li>
        LinkedIn: <a href="https://linkedin.com/in/{{ .linkedin_user }}/">{{ .linkedin_user }}</a>
      </li>
    </ul>
  </section>
{{ end }}
