{{ template "layout.tmpl" . }}

{{ define "content" }}
  <section id="hero">
    <a href="https://www.linkedin.com/in/{{ .linkedin_user }}/">
      <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=700&size=38&duration=3000&pause=1000&color=00E5FF&center=true&vCenter=true&repeat=false&width=435&lines=Virgil+Lopez" alt="{{ .firstname }} {{ .lastname }} on LinkedIN" />
      <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=500&size=22&duration=2500&pause=1800&color=00E5FF&center=true&vCenter=true&width=435&lines=Aspiring+DevOps+Engineer;Always+Learning․․․" />
    </a>
  </section>

  <section id="experience" class="section">
    <h2 class="section-header">Professional Experience</h2>
      <ul class="experience-list">
        <li>
          <img src="https://www.nashvillemusiccitycenter.com/sites/default/files/styles/hero/public/portal-hero/mcc-9201.jpg", alt="Music City Center Front">
          <h3>Nashville Music City Center</h3>
        </li>
      </ul>
  </section>

  <section id="skills" class="section">
    <h2 class="section-header">Technical Skills</h2>

  </section>

  <section id="certifications" class="section">
    <h2 class="section-header">Certifications</h2>
    <ul class="certifications-list">
      <li>
        <h3>Cloud Computing Practitioner</h3>
        <p>Issued: May-2021<p>
        <p>By: Rio Hondo College</p>
      </li>
      <li>
        <h3>Cybersecurity</h3>
        <p>Issued: May-2021<p>
        <p>By: Rio Hondo College</p>
      </li>
      <li>
        <h3>Ethical Hacker</h3>
        <p>Issued: May-2021<p>
        <p>By: Rio Hondo College</p>
      </li>
      <li>
        <h3>Cybersecurity Technician</h3>
        <p>Issued: May-2021<p>
        <p>By: Rio Hondo College</p>
      </li>
    </ul>
  </section>
{{ end }}
