{{ template "layout.tmpl" . }}

{{ define "content" }}
  <section id="hero">
    <a href="https://www.linkedin.com/in/{{ .linkedin_user }}/">
      <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=700&size=38&duration=3000&pause=1000&color=00E5FF&center=true&vCenter=true&repeat=false&width=435&lines=Virgil+Lopez" alt="{{ .firstname }} {{ .lastname }} on LinkedIN" />
      <img src="https://readme-typing-svg.demolab.com?font=Fira+Code&weight=500&size=22&duration=2500&pause=1800&color=00E5FF&center=true&vCenter=true&width=435&lines=Designer+of+Cloud;Architect+of+Infrastructure;Always+Learning․․․" />
    </a>
  </section>

  <section id="experience">
  </section>

  <section id="skills">
  </section>

  <section id="certifications">
  </section>
{{ end }}
