<!DOCTYPE html>
<html lang="en">
  <head>
    {{ block "head" . }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }} | {{ .tagline }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="site icon" href="/static/favicon.ico">
    {{ end }}
  </head>
  <body>
    <header>
      <nav>
        <ul class="header-nav">
          <li><a href="/#">Home</a></li>
          <li><a href="/#github">GitHub</a></li>
          <li><a href="/#experience">Experience</a></li>
          <li><a href="/#skills">Skills</a></li>
          <li><a href="/#certifications">Certifications</a></li>
          <li><a href="/#contributions">Contributions</a></li>
          <li><a href="/contact/#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <main>
      {{ block "content" . }}
      {{ end }}
    </main>
    <footer class="footer">
      <p>&copy; {{ .firstname }} {{ .lastname }} 2023</p>
    </footer>
  </body>
</html>
