<!DOCTYPE html>
<html lang="en">
  <head>
    {{ block "head" . }}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ .title }} | {{ .tagline }}</title>
    <link rel="stylesheet" href="/static/style.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" crossorigin="anonymous">
    <link rel="site icon" href="/static/favicon.ico">
    {{ end }}
  </head>
  <body>
    <header>
      <nav>
        <ul class="header-nav">
          <li>
            <div class="dropdown">
              <a href="/#"><button class="dropbtn">Home</button></a>
              <div class="dropdown-content">
                <a href="/#experience">Experience</a>
                <a href="/#skills">Skills</a>
                <a href="/#certifications">Certifications</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="/projects/#"><button class="dropbtn">Projects</button></a>
              <div class="dropdown-content">
                <a href="/projects/#github">GitHub</a>
                <a href="/projects/#contributions">Contributions</a>
              </div>
            </div>
          </li>
          <li>
            <div class="dropdown">
              <a href="/contact/#"><button class="dropbtn">Contact</button></a>
            </div>
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {{ block "content" . }}
      {{ end }}
    </main>
    <footer>
      <div class="footer">
        <p>&copy; 2023 {{ .firstname }} {{ .lastname }}. All rights reserved.</p>
      </div>
    </footer>
  </body>
</html>
