{{ template "layout.tmpl" . }}

{{ define "content" }}
  <section id="github" class="section">
    <h2 class="section-header">Popular GitHub Repositories</h2>
    <ul class="repository-list">
      {{ range slice .github_repos 0 6 }}
        <li>
          <a href="https://github.com/{{ .Owner }}/{{ .Name }}">
            <img src="{{ .Preview }}" alt="{{ .Name }}" />
          </a>
        </li>
      {{ end }}
    </ul>
  </section>
  <section id="contributions" class="section">
    <h2 class="section-header">Notable Contributions</h2>
  </section>
{{ end }}
