* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #080808;
  color: #E5E5E5;
}

header {
  background-color: #161616f2;
  color: #E5E5E5;
  padding: 20px;
  position: sticky; top: 0;
  backdrop-filter: blur(0.25rem);
}

.header-nav {
  display: flex;
}

.header-nav li {
  display: inline-block;
  margin-right: 20px;
}

nav {
  display: flex;
  justify-content: space-between;
}

nav ul {
  list-style: none;
}

nav li {
  margin-right: 20px;
}

nav li:last-child {
  margin-right: 0;
}

nav a {
  color: #E5E5E5;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #00E5FF;
}

.dropbtn {
  background-color: #181A1B;
  color: #E5E5E5;
  padding: 10px 13px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #161616;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: #E5E5E5;
  padding: 10px 13px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #181A1B;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  color: #00E5FF;
  box-shadow: 0px 0px 5px 5px #0B8950;
}

@media (max-width: 768px) {
  .dropdown-content a {
    display: none;
  }
  
  .dropdown-content a:hover {
    display: none;
  }
}

:target {
  scroll-margin-top: 3em;
}

#hero {
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #00E5FF;
}

#hero a {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.section {
  padding: 2.5em;
}

.section-header {
  font-size: 2em;
  margin-bottom: 20px;
}

#about {
  padding: 50px;
}

#about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

#about p {
  font-size: 1.1rem;
}

.experience-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.experience-list li {
  width: calc(50% - 20px);
  margin-bottom: 40px;
}

.experience-list li img {
  max-width: 100%;
  margin-bottom: 10px;
}

.skills-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.certifications-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  gap: 1em;
}

.certifications-list li {
  margin-bottom: 40px;
  background-color: #080808;
  border-color: #161616;
  border-style: solid;
  border-radius: 0.5em;
  padding-inline: 0.5em;
  flex: 2 1 auto;
  margin-bottom: 20px;
}

.certifications-list li:hover {
  box-shadow: 0px 0px 20px 0px #0B8950;
}

.certifications-list li h3 {
  text-align: center;
}

.certifications-list li:hover h3 {
  color: #00E5FF;
}

.certifications-list li p {
  text-align: center;
}

.repository-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
}

.repository-list li {
  width: calc(33.33% - 20px);
  margin-bottom: 40px;
}

.repository-list li a {
  display: block;
  background-color: #080808;
  text-decoration: none;
  border-radius: 0.5rem;
}

.repository-list li a:hover {
  box-shadow: 0px 0px 30px 10px #0B8950;
}

.repository-list li img {
  border-radius: 0.5em 0.5em 0em 0em;
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  #github {
    padding: 1em;
  }

  .repository-list {
    flex-direction: column;
    display: block;
  }

  .repository-list li {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
  }

  .repository-list li img {
    float: left;
    margin-right: 20px;
  }
}

#contact {
  padding-top: 2rem;
}

#contact h2 {
  color: #E5E5E5;
}

#contact ul {
  list-style: none;
}

#contact li {
  margin-bottom: 10px;
}

#contact li:last-child {
  margin-bottom: 2rem;
}

#contact a {
  color: #00E5FF;
}

#contact a:hover {
  text-decoration: none;
}

#contact i {
  margin-right: 10px;
  color: #E5E5E5;
}

@media (min-width: 768px) {
  .col-md-4 {
    float: left;
    padding-left: 1em;
  }

  .col-md-8 {
    float: left;
    padding-left: 2em;
  }
}

@media (max-width: 768px) {
  .row {
    display: flex;
    flex-direction: column;
    padding-right: 1em;
    padding-left: 1em;
  }
}

footer {
  margin-top: auto;
  background-color: #161616;
  text-align: center;
}

@media (max-width: 768px) {
  footer {
    font-size: 14px;
  }
}

@media (max-width: 480px) {
  footer {
    font-size: 12px;
  }
}
